<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Set New Password</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="setPasswordForm">
                            <div class="form-group pt-3"></div>
                            <div class="input-field" 
                            [class.error]="setPasswordForm.controls['password'].dirty && setPasswordForm.hasError('setPasswordForm')">
                              <span class="fa fa-lock p-2"></span>
                              <input formControlName="password" [type]="passwordInputType" placeholder="Enter new password">
                              <span (click)="hideShowPassword()" class="fa {{eyeIcon}}"></span>
                            </div>
                            <small *ngIf="setPasswordForm.controls['password'].dirty && setPasswordForm.hasError('required','password')" class="text-danger">
                                *New Password is required
                            </small>
                            <button type="submit" (click)="setNewPassword()" class="btn btn-primary btn-block mt-4 w-100">Set Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>